body {
  background-color: #1b225b;
  text-align: center;
}

.game-info, #input-number{
  font-family: "Press Start 2P";
  font-size: 3rem;
  margin: 5%;
  color: #FEF2BF;
  text-align: center;
}

.tile {
  width: 12rem;
  height: 12rem;
  border: 0.6rem solid #000000;
  border-radius: 3rem;
  margin: 2rem;
  display: inline-block;
}

#input-number {
  width: 12rem;
  height: 12rem;
}
.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.btn-shadow{
  filter: drop-shadow(0.5rem 0.5rem 1rem #000000);
}

.game-over {
  background-color: red;
}
